argparse
chromadb
dotenv
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
langchain
langchain-community
langchain-openai
langchain-text-splitters
matplotlib
openai
pypdf
python-dotenv
pydantic
pandas
streamlit
supabase
